/* Avenir Light */
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Light.woff2") format("woff2");
    font-weight: 300;
    color: #130020;
}

/* Avenir Regular */
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Roman.woff2") format("woff2");
    font-weight: 400;
    color: #130020;
}

/* Avenir Medium */
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Medium.woff2") format("woff2");
    font-weight: 500;
    color: #130020;
}

/* Avenir Heavy */
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Heavy.woff2") format("woff2");
    font-weight: 700;
    color: #130020;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Avenir", sans-serif;
}

/* HEADER */
/* ================= HEADER ================= */
.main-header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* LOGO */

.logo img {
    height: 50px;
}

/* NAVBAR */

.navbar {
    padding: 5px 0;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    color: #424242 !important;

}

.nav-link:hover {

    color: #591487 !important;
}

/* BUTTON */

.btn-consult {
    background: #591487;
    color: #fff;
    border-radius: 25px;
    padding: 10px 22px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.btn-consult:hover {
    background: #4b7f3b;
    color: #fff;
}

/* OFFCANVAS */

.offcanvas {
    width: 310px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 25px;
}

/* MOBILE MENU */

.mobile-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin-bottom: 6px;
}

.mobile-menu a,
.dropdown-btn {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 12px 14px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background: none;
    transition: .3s;
}

.mobile-menu a:hover,
.dropdown-btn:hover {
    background: #f6f3fa;
    color: #591487;
}

/* MENU LABEL */

.menu-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ARROW */

.arrow-icon {
    font-size: 12px;
    transition: .3s;
}

.dropdown-btn.active .arrow-icon {
    transform: rotate(180deg);
}

/* DROPDOWN */

.dropdown-content {
    display: none;
    list-style: none;
    padding-left: 22px;
    margin-top: 5px;
}

.dropdown-content li a {
    font-size: 15px;
    padding: 8px 0;
    color: #555;
}

.dropdown-content li a:hover {
    color: #591487;
}

.dropdown-content.show {
    display: block;
}

/* LINE */

.line {
    border: none;
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    margin: 20px 0;
}

/* CONTACT */

.mobile-contact {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.mobile-contact p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.mobile-contact a {
    color: #591487;
    text-decoration: none;
}

/* SOCIAL */

.mobile-social {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mobile-social a {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f1fa;
    border-radius: 50%;
    color: #591487;
    transition: .3s;
}

.mobile-social a:hover {
    background: #591487;
    color: #fff;
}


/* form flag input */
.iti {
    width: 100%;
}

.phone-input {
    height: 48px;
}

.iti__flag-box,
.iti__country-name {
    margin-right: 8px;
    color: black;
}

.iti__dial-code {
    color: #100e0e;
}

/* MOBILE */

@media (max-width:991px) {

    .desktop-btn {
        display: none;
    }

    .navbar-collapse {
        display: none;
    }

}

.dropdown-menu {
    border-radius: 10px;
    padding: 10px 0;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.dropdown-item {
    padding: 10px 20px;
    font-weight: 500;
}

.dropdown-item:hover {
    background: #f5f5f5;
    color: #591487;
}


/* Hover dropdown only for desktop */

@media (min-width: 992px) {

    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

}

/* HERO */


/* TITLE */

.hero-title {
    font-size: 41px;
    font-weight: 550;
    color: #36005a;
    line-height: 1.3;
}

.hero-title span {
    color: #36005a;
    font-style: italic;
    font-weight: 850;
}

/* TEXT */

.hero-desc {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    max-width: 480px;
}

/* BUTTONS */

.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-consult {
    background: #fff;
    color: #000;
    padding: 5px 22px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #000;
    transition: 0.3s ease;
}

.btn-consult:hover {
    background: #67368c;
    color: #fff;
    border-color: #67368c;
}

.btn-talk {
    border: 2px solid #591487;
    color: #591487;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
}

.btn-talk:hover {
    background: #4b7f3b;
    color: #fff;
}

/* IMAGE */

.hero-image {
    max-width: 400px;
}

/* LOGO SLIDER */

.logo-slider {
    overflow: hidden;
    position: relative;
}

.logo-track {
    display: flex;
    gap: 80px;
    align-items: center;
    animation: scroll 25s linear infinite;
}

.logo-track img {
    height: 35px;
    /* opacity: 0.7; */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* RESPONSIVE */

@media (max-width:991px) {

    .hero-title {
        font-size: 36px;
        text-align: center;
    }

    .hero-desc {
        text-align: center;
        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-left {
        text-align: center;
    }

}

@media (max-width:576px) {

    .hero-title {
        font-size: 28px;
    }

    .hero-image {
        max-width: 300px;
    }

    .logo-track {
        gap: 40px;
    }

}

/* Title */

.approach-title{
    font-size:40px;
    font-weight:700;
    margin-bottom:50px;
}

.approach-title span{
    color:#2b0a5c;
}


/* SECTION */

.impact-section{
    padding:80px 20px;
    background:#f9f7fb;
    text-align:center;
}

/* TITLE */

.impact-title{
    font-size:40px;
    font-weight:700;
    margin-bottom:60px;
}

.impact-title span{
    color:#2b0a5c;
}

/* STATS LAYOUT */

.impact-stats{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
    max-width:1000px;
    margin:auto;
}

/* ITEM */

.impact-item{
    flex:1;
    min-width:200px;
}

/* NUMBER */

.impact-item h3{
    font-size:60px;
    color:#66358b;
    font-weight:700;
    margin-bottom:10px;
}

/* TEXT */

.impact-item p{
    font-size:16px;
    color:#444;
    line-height:1.6;
}

/* BOTTOM TEXT */

.impact-text{
    margin-top:60px;
}

.impact-text p{
    max-width:650px;
    margin:auto;
    font-size:16px;
    color:#555;
    line-height:1.7;
}

/* RESPONSIVE */

@media (max-width:768px){

.impact-title{
    font-size:32px;
}

.impact-item h3{
    font-size:42px;
}

.impact-item{
    width:45%;
}

}

@media (max-width:480px){

.impact-item{
    width:100%;
}

.impact-item h3{
    font-size:36px;
}

.impact-item p{
    font-size:14px;
}

}

/* BUSINESS PROBLEMS */
.problem-card {
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    height: 210px;
    position: relative;
    /* important */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.problem-card:hover {
    transform: translateY(-6px);
}

.problem-card h5 {
    font-size: 18px;
    font-weight: 550;
    color: #111;
    max-width: 160px;
}

.problems-title {
    font-size: 32px;
    font-weight: 550;
    color: #130020;
}

.problems-subtitle {
    font-size: 16px;
    color: #130020;
    text-align: center;
}

/* Bottom right image */

.problem-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: auto;
    object-fit: contain;
}


/* FOOTER */
.footer {
    background: url("assets/footer-bg-img.jpeg") center/cover no-repeat;
    color: #fff;
    position: relative;
}

.footer-overlay {
    background: rgba(10, 0, 40, 0.85);
    padding: 70px 0 30px;
}

.footer-logo {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* .footer-text {
    font-size: 14px;
    line-height: 1.6;
    color: #d4d4d4;
} */

.footer-title {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
}

.footer-links li::before {
    content: "\f111";
    /* Font Awesome circle */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 5px;
}

.footer-links a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #4b7f3b;
}

.footer-divider {
    border-color: rgba(255, 255, 255, 0.15);
    margin: 20px 0 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.footer-title+p a,
.col-lg-3 p a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.col-lg-3 p a:hover {
    color: #4b7f3b;
    /* green */
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #8f82824a;
    color: #fff;
    margin: 5px;
    transition: 0.3s;
}

/* LinkedIn */
.social-icons a:nth-child(3):hover {
    background: #0077b5;
}

/* Facebook */
.social-icons a:nth-child(4):hover {
    background: #0454a5;
}

/* Instagram */
.social-icons a:nth-child(5):hover {
    background: #f10856;
}

/* YouTube */
.social-icons a:nth-child(6):hover {
    background: #ff0000;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.footer-logo img {
    height: 50px;
}


/* flot icon */

.call-float {
    position: fixed;
    left: 20px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background: #66358b;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    line-height: 60px;
    z-index: 1000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    animation: pulse 1.8s infinite;
    transition: 0.3s;
}

.call-float:hover {
    background: #1f7a34;
    transform: scale(1.1);
}

/* Pulse Animation */

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(89, 40, 167, 0.7);
    }

    70% {
        box-shadow: 0 0 0 18px rgba(40, 167, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
    }
}

/* contact form  */

.contact-section {
    background: #591487;
    padding: 75px 0;
    color: white;
}

.contact-title {
    font-size: 50px;
    font-weight: 550;
    line-height: 1.1;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 16px;
    max-width: 360px;
    opacity: .9;
}

.contact-section label {
    font-size: 14px;
    margin-bottom: 6px;
}

.custom-input {
    /* background: #d9d9d9; */
    border: none;
    border-radius: 8px;
    padding: 12px;
}

.custom-input:focus {
    box-shadow: none;
    outline: none;
}


.submit-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #d9d9d9;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:991px) {

    .contact-title {
        font-size: 42px;
    }

    .contact-text {
        max-width: 100%;
    }

}

@media (max-width:576px) {

    .contact-title {
        font-size: 34px;
    }

}

/* Industries We Serve */
.business-section {
    padding: 40px 0;
    /* background: #f5f5f5; */
}

.tag {
    color: #6b2ab5;
    font-size: 28px;
    font-weight: 600;
}

.title {
    font-size: 70px;
    font-weight: 700;
    color: #4b148d;
    line-height: 1;
}

.title span {
    font-size: 40px;
}

.subtitle {
    /* margin-top: 25px; */
    font-weight: 600;
    color: #130020;
}

.info-text {
    /* margin-top: 15px; */
    color: #130020;
}

.business-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.business-list li {
    margin-bottom: 12px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.check {
    color: #4b148d;
    margin-right: 10px;
    font-size: 20px;
}

.industry-title {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 22px;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 420px; */
    position: relative;
}

.card-stack {
    position: relative;
    width: 300px;
    height: 380px;
}

.industry-card {
    position: absolute;
    width: 300px;
    height: 380px;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.6s;
    box-shadow: 0 10px 20px rgb(15, 13, 13);
}

.industry-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industry-card h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-weight: 700;
}

.industry-card.active {
    z-index: 3;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.industry-card.next {
    z-index: 2;
    transform: translateX(120px) scale(.9);
    opacity: .6;
    filter: blur(1px);
}

.industry-card.prev {
    z-index: 1;
    transform: translateX(-120px) scale(.9);
    opacity: .6;
    filter: blur(1px);
}

@media(max-width:992px) {

    .title {
        font-size: 50px;
    }

    .slider-wrapper {
        margin-top: 50px;
    }

}

@media(max-width:768px) {

    .title {
        font-size: 40px;
    }

    .tag {
        font-size: 22px;
    }

    .card-stack {
        width: 250px;
        height: 320px;
    }

    .industry-card {
        width: 250px;
        height: 320px;
    }

    .industry-card.next {
        transform: translateX(80px) scale(.9);
    }

    .industry-card.prev {
        transform: translateX(-80px) scale(.9);
    }

}

.icon-check {
    width: 26px;
    height: 26px;
    stroke: #4b148d;
    stroke-width: 2;
    fill: none;
    margin-right: 10px;
}




/* faq */

.faq-section {
    background: #f8f8f8;
}

.faq-title {
    font-size: 70px;
    font-weight: 700;
    color: #5a1ea6;
}

.custom-faq .faq-card {
    border: none;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.faq-btn {
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 14px 20px;
}

.faq-btn:not(.collapsed) {
    background: #fff;
    color: #5a1ea6;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    filter: hue-rotate(260deg);
}

.accordion-body {
    background: #fff;
    font-size: 15px;
    color: #555;
}

.faq-description {
    font-size: 16px;
    color: #666;
    margin-top: 15px;
    max-width: 320px;
    line-height: 1.6;
}

/* Arrow color */
.accordion-button::after {
    filter: invert(16%) sepia(84%) saturate(4000%) hue-rotate(265deg) brightness(80%) contrast(95%);
    transform: scale(1.3);
    /* makes arrow bold/bigger */
}

/* When accordion is open */
.accordion-button:not(.collapsed)::after {
    filter: invert(16%) sepia(84%) saturate(4000%) hue-rotate(265deg) brightness(80%) contrast(95%);
    transform: rotate(-180deg) scale(1.3);
}


/* testimonials */

.faq-points {
    padding-left: 18px;
    margin-bottom: 0;
}

.faq-points li {
    margin-bottom: 6px;
    color: #555;
    line-height: 1.6;
}

/* Our technology */

/* .approach-section {
    background: #f6f4f9;
} */

/* TITLE */

.approach-title {
    font-size: 38px;
    font-weight: 700;
    color: #1b0d2b;
    line-height: 1.2;
}

.approach-title span {
    font-style: italic;
}

/* DESCRIPTION */

/* .approach-desc {
    color: #6c6c6c;
    font-size: 17px;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 30px;
} */

/* ITEMS */

.approach-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

/* .approach-item i {
    color: #7c3aed;
    font-size: 20px;
    margin-top: 5px;
} */

.approach-item h6 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
    color: #1f1f1f;
}

/* .approach-item p {
    font-size: 14px;
    color: #6b6b6b;
    margin: 0;
    line-height: 1.6;
} */

/* IMAGE */

.approach-img {
    max-width: 420px;
}

/* MOBILE */

@media (max-width:768px) {

    .approach-title {
        font-size: 32px;
    }

    /* .approach-desc {
        font-size: 15px;
    } */

    .approach-item {
        gap: 12px;
    }

}


.approach-check {
    width: 40px;
    height: 40px;
    stroke: #5a1ea6;
    stroke-width: 2;
    padding: 8px;
    border-radius: 50%;
    /* background: rgba(90,30,166,0.08); */
    flex-shrink: 0;
}

/* our services section */


.services-section {
    background: #f5f5f7;
}

/* title */

.services-title {
    font-size: 40px;
    font-weight: 700;
    color: #2b0a4a;
}

.services-title span {
    color: #5a1ea6;
}

.services-subtitle {
    /* max-width: 520px; */
    margin: auto;
    color: #666;
    font-size: 16px;
    margin-top: 10px;
}

/* card */

.service-card-box {
    position: relative;
    height: 230px;
    border-radius: 22px;
    overflow: hidden;
    cursor: pointer;
}

/* default card */

.service-card-default {
    background: #fff;
    border-radius: 22px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all .4s ease;
}

.service-card-default h5 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    line-height: 1.4;
}

.service-card-default img {
    width: 135px;
    align-self: flex-end;
}

/* hover card */

.service-card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5a2d91;
    color: #fff;
    border-radius: 22px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    transform: translateY(30px);
    transition: .4s;
}


.service-card-two-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5a2d91;
    color: #fff;
    border-radius: 22px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center; /* center content */
    gap: 15px; /* auto spacing */

    opacity: 0;
    transform: translateY(30px);
    transition: .4s;
}

.service-card-two-hover p {
    font-size: 15px;
    line-height: 1.5;
}

.service-card-hover p {
    font-size: 15px;
    line-height: 1.5;
}

/* button */

.service-btn {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    /* font-style:italic; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 90px;
}

.service-btn span {
    background: #fff;
    color: #5a2d91;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* hover effect */

.service-card-box:hover .service-card-hover {
    opacity: 1;
    transform: translateY(0);
}

.service-card-box:hover .service-card-default {
    transform: translateY(-10px);
}

/* responsive */

@media (max-width:991px) {

    .service-card-box {
        height: 210px;
    }

}

@media (max-width:576px) {

    .services-title {
        font-size: 30px;
    }

    .service-card-box {
        height: 200px;
    }

}

.choose-section {
    background: #f5f5f7;
}

/* title */

.choose-title {
    font-size: 42px;
    font-weight: 700;
    color: #2b0a4a;
}

.choose-title span {
    font-style: italic;
}

.choose-subtitle {
    max-width: 520px;
    margin: auto;
    margin-top: 10px;
    color: #666;
    font-size: 16px;
}

/* card */

.choose-card {
    background: #fff;
    padding: 19px 28px;
    border-radius: 22px;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
}

/* hover */

.choose-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

/* icon */

.choose-icon {
    width: 45px;
    margin-bottom: 18px;
}

/* text */

.choose-card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.choose-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

/* button */

.consult-btn {
    display: inline-block;
    padding: 8px 22px;
    border-radius: 20px;
    border: 2px solid #5a1ea6;
    color: #5a1ea6;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.consult-btn:hover {
    background: #5a1ea6;
    color: #fff;
}

/* responsive */

@media (max-width:992px) {

    .choose-title {
        font-size: 34px;
    }

}

@media (max-width:576px) {

    .choose-title {
        font-size: 28px;
    }

    .choose-card {
        text-align: center;
    }

    .choose-icon {
        margin: auto;
        margin-bottom: 15px;
    }

}

/* business outcomes section */

.benefits-section {
    background: #f5f5f7;
}

/* row */

.benefits-row {
    align-items: center;
    justify-content: space-between;
}

/* item */

.benefit-item {
    padding: 20px 10px;
    position: relative;
}

/* vertical divider */

.benefit-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 1px;
    background: #cfcfcf;
}

/* icon */

.benefit-item img {
    width: 54px;
    margin-bottom: 13px;
}

/* text */

.benefit-item h6 {
    font-size: 16px;
    font-weight: 600;
    color: #130020;
    line-height: 1.4;
    margin: 0;
}

/* tablet */

@media (max-width:992px) {

    .benefit-item::after {
        display: none;
    }

}

/* mobile */

@media (max-width:576px) {

    .benefit-item {
        padding: 18px 10px;
    }

    .benefit-item img {
        width: 38px;
    }

    .benefit-item h6 {
        font-size: 14px;
    }

}


/* popup form */

/* Modal Design */
.consult-modal {
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

/* LEFT PANEL */

.consult-left {
    background: linear-gradient(135deg, #2b0a5c, #6f42c1);
    color: white;
    padding: 40px;
    align-items: center;
}

.consult-info h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 55px;
}

.consult-info p {
    opacity: .9;
    margin-bottom: 20px;
}

.consult-info ul {
    list-style: none;
    padding: 0;
}

.consult-info li {
    margin-bottom: 10px;
    font-size: 15px;
}

/* FORM */

.modal-title {
    font-weight: 700;
    color: #2b0a5c;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Inputs */

.input-group-text {
    background: #f3f3f7;
    border: none;
}

.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    padding: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #6f42c1;
}

.textarea {
    height: 110px;
}

/* Button */

.btn-consult-submit {
    background: linear-gradient(135deg, #6f42c1, #2b0a5c);
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.btn-consult-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


How we can help section .help-section {
    background: #f4f4f6;
}

.help-title {
    font-size: 38px;
    font-weight: 700;
    color: #2e0a46;
}

.help-title span {
    font-style: italic;
}

.help-subtitle {
    color: #6b6b6b;
    font-size: 16px;
}

.help-card {
    background: #fff;
    padding: 25px 18px;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
    height: 100%;
}

.help-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.help-icon {
    width: 42px;
    margin-bottom: 15px;
}

.help-card p {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1.5;
}


.contact-page-section {
    background: #f6f4f8;
}

.approach-title {
    font-size: 42px;
    font-weight: 700;
    color: #2b0a5c;
}

.approach-title span {
    font-style: italic;
}

.contact-text {
    color: #2b0a5c;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.6;
}

.contact-details {
    margin-top: 25px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
    color: #2b0a5c;
    font-size: 15px;
}

.contact-item i {
    font-size: 16px;
    margin-top: 4px;
}

.contact-form {
    /* background:#fff; */
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.custom-input {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.custom-input:focus {
    box-shadow: none;
    border-color: #5c2ca5;
}

.contact-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    border: 2px solid #1c1c1c;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s ease;
}


.contact-btn span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.contact-btn:hover {
    background: #5c2ca5;
    color: #fff;
}

.contact-btn:hover span {
    background: #fff;
    color: #5c2ca5;
}


.contact-btn-white {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 8px 22px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    font-size: 15px;
    font-weight: 500;
    transition: all .35s ease;
    text-decoration: none;
}

.contact-btn-white .service-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #5c2ca5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}

.contact-btn-white:hover {
    background: #fff;
    color: #5c2ca5;
    border-color: #fff;
    transform: translateY(-2px);
}

.contact-btn-white:hover .service-icon {
    background: #5c2ca5;
    color: #fff;
    transform: translateX(4px);
}

a[href^="tel"] {
    cursor: pointer;
}

.contact-item a {
    text-decoration: none;
    color: #36005A;
    /* same blue color like screenshot */
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #36005A;
}

p a[href^="tel"],
p a[href^="mailto"] {
    text-decoration: none;
    color: #36005A;
    transition: color 0.3s ease;
}

p a[href^="tel"]:hover,
p a[href^="mailto"]:hover {
    color: #5e2c91;
    /* hover color */
}

.form-error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    display: none;
}

.input-error {
    border: 1px solid red;
}

.custom-input {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    border: 1px solid #36005A;
}

.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type=text],
.iti--allow-dropdown input.iti__tel-input[type=tel],
.iti--show-selected-dial-code input.iti__tel-input,
.iti--show-selected-dial-code input.iti__tel-input[type=text],
.iti--show-selected-dial-code input.iti__tel-input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    border: 1px solid #36005A;
}

.g-recaptcha {
    margin: 20px 0;
}


/* country section */

.global-presence {
    background: #f5f6fa;
}

.presence-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.presence-subtitle {
    color: #666;
    max-width: 600px;
    margin: auto;
}

/* OFFICE CARD */

.office-box {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
    transition: 0.3s;
    border: 1px solid #eee;
}

.office-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

/* HEADER */

.office-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}

.office-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.office-header h5 {
    font-size: 20px;
    font-weight: 600;
    color: #5e2c91;
    margin: 0;
}

/* BODY */

.office-body p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.office-phone {
    font-weight: 600;
    color: #333;
}

.office-phone i {
    color: #5e2c91;
    margin-right: 6px;
}

.office-phone a {
    color: #5e2c91;
    text-decoration: none;
    font-weight: 600;
    margin-left: 6px;
}

.office-phone a:hover {
    color: #36005A;
}

/* business problem we solve (Services) */
/* SECTION */

.bpw-section {
    background: #f3f3f3;
}

/* MAKE SAME HEIGHT */

.bpw-col {
    display: flex;
}

/* CARD */

.bpw-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 190px;
}

/* TEXT AREA */

.bpw-text {
    width: 75%;
    position: relative;
    padding: 30px;
    overflow: hidden;
}

/* HOVER PANEL */

.bpw-hover {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #6d3fa7;
    transition: 0.45s ease;
    z-index: 1;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.bpw-card:hover .bpw-hover {
    left: 0;
}

/* CONTENT */

.bpw-content {
    position: relative;
    z-index: 2;
}

.bpw-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
}

.bpw-content p {
    font-size: 16px;
    color: #555;
    margin: 0;
    line-height: 1.6;
}

/* TEXT COLOR CHANGE */

.bpw-card:hover .bpw-content h4,
.bpw-card:hover .bpw-content p {
    color: #fff;
}

/* IMAGE */

.bpw-image {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
}

.bpw-image img {
    width: 120px;
}

/* CTA LAST CARD */

.bpw-card-cta {
    background: #6d3fa7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 25px;
}

/* BUTTON */

.bpw-cta-btn {
    background: #fff;
    color: #6d3fa7;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

/* RESPONSIVE */

@media (max-width:992px) {

    .bpw-card {
        flex-direction: column;
    }

    .bpw-text {
        width: 100%;
    }

    .bpw-image {
        width: 100%;
        justify-content: flex-end;
    }

    .bpw-image img {
        width: 70px;
    }

    .bpw-card {
        min-height: auto;
    }

    .bpw-card-cta {
        height: 140px;
    }

}

/* SECTION */

.cta-ex-section {
    padding: 80px 0;
    background: #f3f3f3;
}

/* CARD */
/* SECTION */

.cta-pro-section {
    padding: 30px 0;
    background: #f4f4f4;
}

/* CARD */

.cta-pro-card {

    position: relative;
    border-radius: 30px;
    padding: 20px 40px;
    text-align: center;
    overflow: hidden;

    /* background image */

    background:
        url("assets/shape-6.png") right center / cover no-repeat,
        linear-gradient(180deg, #f2eef6, #e6e2ea);

}

/* LEFT ILLUSTRATION */

.cta-pro-illustration {

    position: absolute;
    left: 20px;
    bottom: 26;
}

.cta-pro-illustration img {
    width: 250px;
}

/* CONTENT */

.cta-pro-content {
    max-width: 700px;
    margin: auto;
}

/* TITLE */

.cta-pro-content h2 {

    font-size: 42px;
    font-weight: 700;
    color: #2a0c42;
    margin-bottom: 10px;
}

/* TEXT */

.cta-pro-content p {

    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

/* BUTTON GROUP */

.cta-pro-buttons {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* BUTTON */

.cta-pro-btn {

    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

/* PRIMARY */

.cta-pro-btn.primary {
    background: #6d3fa7;
    color: #fff;
}

/* SECONDARY */

.cta-pro-btn.secondary {
    border: 2px solid #6d3fa7;
    color: #6d3fa7;
}

/* HOVER */

.cta-pro-btn.primary:hover {
    background: #56308a;
}

.cta-pro-btn.secondary:hover {
    background: #6d3fa7;
    color: #fff;
}

/* RESPONSIVE */

@media (max-width:992px) {

    .cta-pro-card {
        padding: 70px 30px;
    }

    .cta-pro-content h2 {
        font-size: 34px;
    }

    .cta-pro-illustration img {
        width: 100px;
    }

}

@media (max-width:768px) {

    .cta-pro-illustration {
        display: none;
    }

    .cta-pro-content h2 {
        font-size: 28px;
    }

}

@media (max-width:480px) {

    .cta-pro-buttons {
        flex-direction: column;
    }

    .cta-pro-btn {
        width: 100%;
    }

}

/* How the framework works (Services) */
.framework-section {
    padding: 70px 0;
    background: #f5f5f7;
}

.framework-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 80px;
}

/* container */

.stack-container {
    max-width: 900px;
    margin: auto;
}

/* cards */

.stack-card {

    position: sticky;
    top: 120px;

    background: linear-gradient(180deg, #f3f3f6, #e9e9ee);

    padding: 50px;
    border-radius: 30px;

    margin-bottom: 40px;

    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);

    transition: height .4s ease;
}

/* stacking spacing */

.stack-card:nth-child(2) {
    top: 150px;
}

.stack-card:nth-child(3) {
    top: 180px;
}

/* number */

.card-number {

    position: absolute;

    right: 20px;
    top: 20px;

    width: 46px;
    height: 46px;

    border: 2px solid #5c3fa3;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    color: #5c3fa3;
}

.stack-card h3 {
    color: #2b0a5c;
    margin-bottom: 10px;
    font-weight: 600;
}

/* responsive */

@media(max-width:768px) {

    .framework-title {
        font-size: 30px;
    }

    .stack-card {
        padding: 30px;
        top: 100px;
    }

}

/* operating model section (Services) */
/* SECTION BACKGROUND */

.operating-model-section {
    background: #f7f7f9;
}


/* IMAGE */

.framework-image {
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.framework-image img {
    max-width: 80%;
}


/* TIMELINE WRAPPER */

.timeline-wrapper {
    position: relative;
    padding-left: 80px;
    
}


/* BASE DOTTED LINE */

.timeline-wrapper::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    border-left: 2px dashed #d4d4d4;
}


/* ANIMATED PROGRESS LINE */

.timeline-progress {
    position: absolute;
    left: 30px;
    top: 0;
    width: 3px;
    height: 0;

    background: linear-gradient(to bottom,
            #6a4cff,
            #9a63ff,
            #ff7bd5,
            #ff9a4a,
            #ffc94a,
            #3ddc97);

    transition: height .8s cubic-bezier(.22, .61, .36, 1);
}


/* TIMELINE ITEM */

.timeline-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
}


/* CIRCLE */

.timeline-circle {

    position: absolute;
    left: -70px;

    width: 42px;
    height: 42px;

    border-radius: 50%;
    background: #fff;

    border: 2px solid #66358b;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: #66358b;

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

    transition: all .35s ease;
}


/* CONTENT */

.timeline-content h5 {
    font-weight: 600;
    margin-bottom: 6px;
    transition: .3s;
}

.timeline-content p {
    font-size: 14px;
    color: #666;
    margin: 0;
    line-height: 1.6;
    transition: .3s;
}


/* ACTIVE STATE */

.timeline-item.active .timeline-circle {
    /* background:#66358b; */
    color: #000000;
    /* box-shadow:0 0 18px rgba(102,53,139,.7); */
    transform: scale(1.15);
}

.timeline-item.active h5 {
    color: #66358b;
}

.timeline-item.active p {
    color: #333;
}


/* HOVER EFFECT */

.timeline-item:hover .timeline-circle {
    transform: scale(1.12);
    box-shadow: 0 0 15px rgba(102, 53, 139, .5);
}

.timeline-item:hover h5 {
    color: #66358b;
}


/* RESPONSIVE TABLET */

@media(max-width:992px) {

    .framework-image {
        margin-bottom: 40px;
    }

    .timeline-wrapper {
        padding-left: 70px;
    }

}


/* RESPONSIVE MOBILE */

@media(max-width:576px) {

    .timeline-wrapper {
        padding-left: 70px;
    }

    .timeline-circle {
        left: -55px;
        width: 34px;
        height: 34px;
        font-size: 13px;
    }

    .timeline-item {
        margin-bottom: 35px;
    }

    .timeline-content h5 {
        font-size: 16px;
    }

    .timeline-content p {
        font-size: 13px;
    }

}


/* .story-section {
    background: #efefef;
} */
.journey-section{
background:#fafafa;
padding:80px 0;
}

.journey-timeline{
position:relative;
}

.journey-timeline::before{
content:"";
position:absolute;
left:50%;
top:0;
width:3px;
height:100%;
background:#e4e4e4;
transform:translateX(-50%);
}

.journey-item{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:90px;
position:relative;
opacity:0;
transform:translateY(60px);
transition:.8s;
}

.journey-item.show{
opacity:1;
transform:translateY(0);
}

.journey-item.reverse{
flex-direction:row-reverse;
}

/* circle */

.journey-item::before{
content:"";
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
width:18px;
height:18px;
background:#66358b;
border-radius:50%;
animation:journeyPulse 2s infinite;
z-index:2;
}

@keyframes journeyPulse{
0%{box-shadow:0 0 0 0 rgba(102,53,139,.5);}
70%{box-shadow:0 0 0 14px rgba(102,53,139,0);}
100%{box-shadow:0 0 0 0 rgba(102,53,139,0);}
}

/* image */

.journey-img{
width:44%;
overflow:hidden;
border-radius:12px;
}

.journey-img img{
width:100%;
height:220px;
object-fit:cover;
transition:.6s;
}

.journey-img:hover img{
transform:scale(1.08);
}

/* card */

.journey-card{
position:relative;
width:44%;
background:#fff;
padding:35px;
border-radius:12px;
font-size:18px;
line-height:1.9;
color:#444;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
overflow:hidden;
cursor:pointer;
transition:.4s;
}

.journey-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:0%;
height:100%;
background:#66358b;
z-index:-1;
transition:.5s;
}

.journey-card:hover::before{
width:100%;
}

.journey-card:hover{
color:#fff;
transform:translateY(-6px);
}

.journey-highlight{
color:#66358b;
font-weight:600;
font-size:19px;
}

.journey-card:hover .journey-highlight{
color:#fff;
}

/* mobile */

@media(max-width:991px){

.journey-timeline::before{
left:20px;
}

.journey-item{
flex-direction:column;
padding-left:30px;
}

.journey-item.reverse{
flex-direction:column;
}

.journey-item::before{
left:20px;
}

.journey-img,
.journey-card{
width:100%;
}

.journey-img img{
height:200px;
margin-bottom:20px;
}

}
/* Mobile */
@media (max-width:991px) {

    .story-img {
        height: 240px;
        margin-bottom: 20px;
    }

    .story-text {
        text-align: left;
    }

}

.quote-section {
    background: #efefef;
}

.quote-box {
    text-align: left;
    padding: 20px 0;
}

.quote-text {
    font-size: 20px;
    font-weight: 600;
    color: #2b0a5c;
    line-height: 1.4;
    margin-bottom: 15px;
}

.quote-author {
    font-size: 16px;
    color: #6b6b6b;
    font-style: italic;
}

@media (max-width:768px) {

    .quote-text {
        font-size: 22px;
    }

    .quote-author {
        font-size: 14px;
    }

}



.mt-5 {
    margin-top: 5rem !important;
}

/* scroll to top */

#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    border: none;
    background: #66358b;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: none;
    z-index: 999;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

#scrollTopBtn:hover {
    background: #7a45a3;
    transform: translateY(-4px);
}

#scrollTopBtn i {
    line-height: 48px;
}